body
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.App {
  text-align: center;
}

.inputSection
{
 display: flex;
 justify-content: center;
 
}
.inputTask
{
  padding:0.5rem 1rem;
  border-radius: 5px;
  outline: none;
  margin-right:0.5rem; 
}
.inputSection > button
{
  background-color: #034efc;
  color:white;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:0.5rem 1rem;
  border-radius: 5px;
  outline: none;
}